.header {
    grid-area: h;    
    background-color: #434343;
    border: solid 2px #434343;
    /* background-image: linear-gradient(180deg,#E0C3FC  0%, #2f90ee 100%); */
}
.header img {
    width: 40px;
}