.nav {
    grid-area: n;
    background-color: #fff;
    border: solid 2px #d3d3d3;
    padding: 20px;
}
.item {
    /* color: #ffffff; */
    font-size: large;
    padding-left: 10px;
    transition: background-color .5s;
}
.item a {
    text-decoration: none;
    color: #222831;;
}
.item a.activeLink {
    color: #fbd46d;
}
