.item {
    color : #fff;
}

.item img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.like {
    color: #fff;
    transition: all .7s;
    cursor: pointer;
}
.like:hover {
    color: tomato;
}