.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 20px;
}

.dialogsItems {
    border-right: 1px solid #edeef0;
    margin-right: 10px;
}

.dialogsItems .active {
    color: #057dfe;
    font-weight: 500;
}

.dialog {
    border-bottom: 1px solid #edeef0;
    padding-bottom: 10px;
    padding-top: 5px;
    margin-right: 10px;
}

.messages {
    color: #fff;
}

.message {
    padding: 5px 20px;
    margin-top: 5px;
    background-color: #057dfe;
    border-radius: 30px 30px 30px 0px;
}
